{% extends "app/base.html" %}
{% load static %}
{% block title %}About{% endblock title %}
<!--Slider section start-->
{% block banner_slider %}
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="First Slide">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="Scond Slide">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="Third Slide">
      </div>
      <div class="carousel-item">
        <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="Fourth Slide">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
{% endblock banner_slider %}
<!--Slider section end-->
<br><br>
{% block main.content %}
<div class="container mt-3">
    <br>
    <h2 class="text-center">About Us</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">We are an innovative online grocery platform dedicated to providing a seamless and convenient shopping experience for our customers. Our goal is to make grocery shopping easy, reliable, and accessible for everyone, allowing you to spend more time on what matters most. We pride ourselves on offering a wide range of high-quality products, from fresh produce and pantry staples to specialty items and household essentials, all delivered directly to your door. With a focus on exceptional customer service and a commitment to sustainability, we strive to bring you the best in online grocery shopping.</p>
    </div>
    <br><br>
    <h2 class="text-center">Our Mission</h2>
    <br>
    <div class="row-container">
        <p class="fs-4 text-center">Our mission is to revolutionize the way people shop for groceries by providing an efficient, user-friendly platform that delivers fresh, quality products straight to your doorstep. We aim to support healthy lifestyles and sustainability by offering a diverse selection of nutritious and environmentally conscious products. By prioritizing customer satisfaction and convenience, we are committed to becoming your trusted partner for all your grocery needs.</p>
    </div>
</div>
{% endblock main.content %}